.recipeCard {
    width: 20rem;
    text-wrap: wrap;
    border: 1px solid rgb(102, 100, 100);
    margin: 1rem;
    padding: 1rem;
    background-color: rgb(167, 178, 187);
}

.cardLink {
    text-decoration: none;
    color: black;
}

.recipeImage {
    max-width: 100%;
}