.dropdown_content_closed {
  position: absolute;
  min-width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  padding-top: 2rem;
  background-color: rgb(256, 256, 256);
  border-radius: 0.1rem;
  border: 1px solid lightgray;
  box-shadow: rgba(149, 157, 165, 0.8) 0px 8px 24px;
  cursor: pointer;
  max-height: 40vh;
  overflow-y: scroll;
  scrollbar-width: none;
  transform: translateY(-5%);
  transition:  300ms ease-in-out;
  pointer-events: none;
  background-color: wheat;
}

.dropdown_content::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.content_open{
  transform: translateY(0);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  pointer-events: all;
}
