.Nav {
    display: flex;
    flex-direction: row;
    background-color: pink;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
}

.NavBar {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.logo {
    max-width: 5rem;
    max-height: 3.1rem;
    background-color: pink;
}