.dropdown_btn {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 1rem;
  background-color: rgba(256, 256, 256, 0.2);
  border-radius: 0.5rem;
  box-shadow: rgba(149, 157, 165, 0.8) 0px 8px 24px;
  cursor: pointer;
}
.toggle_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
}

.btn_open {
  background-color: aliceblue;
}
